/* Website Wide Styles */
.App {
    text-align: default;
    margin: 0px;
    background-color: rgb(60, 60, 60);
    color: rgb(200,200,200);
    padding-bottom: 0px;
  }
  
  .all-page{
    background-color: rgb(60, 60, 60);
  }

body{
    background-color: rgb(60, 60, 60);
    padding:0px;
    font-family:'Montserrat', sans-serif;
    margin: 0px;
}

.container{
    color: rgb(200, 200, 200);
    font-size:  20px;
}

.page-container{
    display: flex;
}

.main-content{
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.side-component{
    width: 10%;
    background-color: rgb(30,30,30);
}

.left{
    order: -1;
}

.right{
    order: 1;
}

.side-graphic{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-page{
    padding-bottom: 10px;
    height: 100 vh;
    width: 100%;
}

.fighter-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.fighter-page-img{
    border: 2px;
    border-color: rgb(200,200,200);
    margin-left: 50px;
    margin-right: 50px;
    width: 450px;
    min-height: 300px;
}

.fighter-stats{
    background-color: rgb(30,30,30);
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 100px;
    border-radius: 5px;
}

header{
    position:relative;
    color: rgb(200, 200, 200);
    left:0;
    top: 0;
    width: 100%;
    padding: 10px 10px 5px 10px;
    margin: 0;
    background-color: rgb(90, 30, 130);
    font-size: 30px;
}

.home-title{
    color: rgb(200,200,200);
    cursor: pointer;
    display: inline; 
    text-decoration: none;   
}

nav{
    position:relative;
    top: 0;
    width: 100%;
    background-color: rgb(40, 40, 40);
    border-radius: 2px;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 100px 1fr 100px 100px;
}

.general-button{
    font-size: 16px;
    background-color: rgb(100, 100, 100);
    color: rgb(200,200,200);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 2px 10px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.general-button:hover{
    background-color: white;
    color: rgb(90,30,130);
}

.login-button{
    /* margin-right:20px; */
    color: rgb(200,200,200);
    text-decoration: none; 
    display: flex;
    justify-content: flex-end;
}

.login-box{
    background-color: rgb(45,45,45);
    padding-top: 40px;
    padding-bottom: 30px;
    border-radius: 5px;
}

.login-entry{
    background-color: rgb(230,230,230);
    border: none;
    border-radius: 2px;
    margin-left: 20px;
}

main{
    position:relative;
    margin: 5px 20px;
    margin-top: 20px;
    /* border: rgb(200,200,200) 1px solid; */
}

footer{
    font-size: 12px;
    font-weight: 100;
    opacity: 25;
    text-align:center;
    margin-top: 20px;
    margin-bottom:0px;
    padding-bottom: 30px;
}

.fight-grid{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 330px);
}

/* Homepage Styles */
.fight-card{
    border: rgb(200,200,200) 1px solid;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
    height: 250px;
    width: 300px;
    text-align: center;
}

.temp-img{
    border: rgb(200,200,200) 1px solid;
    height: 150px;
}

.join-fight-button{
    border: none;
    border-radius: 4px;
    color: rgb(200,200,200);
    background-color: rgb(90,30,130);
    font-size: 20px;
    padding: 5px 15px;
    margin-top: 15px;
}

.add-card{
    border: rgb(200,200,200) 1px solid;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(200, 200, 200);
    margin: 5px;
    padding: 10px;
    height: 200px;
    width: 300px;
    padding-top: 60px;
    text-align: center;
    font-size: 100px;
    font-weight: 300;
    cursor: pointer;    
}

#fight-name{
    font-size: 24px;
    font-weight: 300;
    margin: 5px;
}

/* Add Fight Page Styles */
.add-form{
    text-align: center;
    font-weight: 300;
    padding-top: 15px;
}

.add-fight-input{
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: rgb(235, 235, 235);
    color: rgb(40, 40, 40);
    height: 25px;
}

#add-fight-title{
    font-size: 30px;
    text-decoration: underline;
}

.fight-page-images {
 
    display: flex;
    height: 20%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    border-top: solid;
    border-color: rgb(180, 180, 180);
    margin: 0% 15%;
    margin-top:10%;

}



.fight-screen-fighter-image {
    object-fit: scale-down;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-width: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color:rgb(90, 30, 130);
}

.blue-bar {
    
    height: 30px;
    margin: 0 auto;
    background-color:rgb(0, 0, 255);
    margin-top:10%;
}
.red-bar {
    height: 30px;
    background-color:rgb(255, 0, 0);
}


/*beneath this comment is the css for registration page*/
.body-test {
    
    height: 600px;
    background-color: rgb(90, 30, 130);
    margin: 0px 20%;
    text-align: center;
    color: rgb(200,200,200);
    overflow: hidden;
    border-radius: 10px;
    padding-bottom: 100px;
    padding-top: 100px;
    
}

.title-test {
    height: 30%;
    color: rgb(200,200,200);
    font-size: 50px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
}

.row {
 
    display: flex;
    height: 20%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    border-top: solid;
    border-color: rgb(180, 180, 180);
    margin: 0% 15%;

}

.row form {
    flex: 1;
    padding: 0, 10%;
    border-radius: 4px;
    text-align: left;
}

.row form:focus {
    border: 3px solid #555;
}

.row label {
    color: rgb(200,200,200);
}

.button2 {
    background-color: black; /* Green */
    border: none;
    color: rgb(200,200,200);
    padding: 15px 32px;
    margin-left: 65%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;


}
/* Login Page CSS */
.headers{
    padding-top:15px;
    margin-bottom:5px;
    text-align:center;
    font-size:30px;
    color: rgb(61, 20, 61);
}

.logInForm{
    padding: 10px;
}

.logInInputs label{
    display:block;
    font-size:20px;
    border:none;
    /*text-align: center;*/
    padding-left: 10px;
    color: rgb(200, 200, 200);
}

.logInInputs input[type="text"]{
    padding:10px;
    width:100%;
    margin:10px;
    background-color: rgb(200, 200, 200);
}


.signOnButton{
    background-color: rgb(90,30,130);
    border-radius:7px;
    font-size:30px;
    margin: 3% 20% 5px;
    width:60%;
    /* how to align buttons?*/
}

.signOnButton:hover{
    background:rgb(121, 12, 175);
    /* we should decide on a better color when hovering*/
    color:rgb(0, 0, 0);
}

.forgotPassword {
    font-size:15px;
    border:none;
    background-color:rgb(60, 60, 60);
    margin: 0px 43%;

}

.forgotPassword:hover{
    color:rgb(164, 12, 12);
}

#addFight, #Welcome {
    background-image: url("./b72134112b54864e4948865375ecbb11.gif" );
    background-repeat: repeat-x;
    background-position:center bottom;

    padding-bottom: 5%
}

#inputBox {
    text-align: center;
    margin: 10%;
    border: 5px solid;
    border-radius: 10px;
    padding: 10%;
    background-color: rgb(60, 60, 60);

}

#inputBox #submit {
    color: red;
}

#Welcome {
    text-align: center;;
    background-color: rgb(60, 60, 60);
    margin-top:5%;
    margin-left:10%;
    margin-right: 10%;
    padding:5%
} 

#Welcome p {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 30px
}

#addFight, #Welcome {
    background-image: url("./b72134112b54864e4948865375ecbb11.gif" );
    background-repeat: repeat-x;
    background-position:center bottom;

    padding-bottom: 5%
}

#inputBox {
    text-align: center;
    margin: 10%;
    border: 5px solid;
    border-radius: 10px;
    padding: 10%;
    background-color: rgb(60, 60, 60);

}

#inputBox #submit {
    color: red;
}

#Welcome {
    text-align: center;;
    background-color: rgb(60, 60, 60);
    margin-top:5%;
    margin-left:10%;
    margin-right: 10%;
    padding:5%
} 

#Welcome p {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 30px
}

.aboutHeader{
    text-align: center;
}

.aboutHeader h1{
    margin-top: 10px;
    font-weight: 700;
    color: #c9a7d5;
}

.aboutHeader p{
    font-weight: normal;
    font-weight: 100;
}

.elementIcon{
    display: flex;
    border: 1px solid  #c9a7d55c;
    border-radius: 1rem;
    margin: 5px;
    width: 48%;
}


.elementsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.elementInfo{
    padding: 5px;
    font-weight: 300;
}

.elementInfo h2{
    color:#c9a7d5;
}

.elementIcon:hover{
    border-bottom: 2px solid #c9a7d5;
    border-right: 2px solid #c9a7d5;
}

.elementIcon:hover icon{
    transform: scale(10);
}

.about-modal-image-button {
    max-width:200px;
    max-height: 200px;
    margin-left:10px;
    margin-right:10px;

}

.modal-container {
    max-width: 750px;
    width: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    background-color: gray;
    border-style: outset;
    border-width:5px;
    align-content: center;
}

.modal-admin-description {
    margin:15px;
}

.modal-admin-name {
    text-align: center;
}

.about-admin-profile-container {
    align-items: center;
    justify-content: center;
}
