body{
    background-color: rgb(60, 60, 60);
    padding:0px;
    padding-bottom: 10px;
    margin: 0px;
}

.home-container{
    font-family: arial;
    color: rgb(200, 200, 200);
    font-size:  20px;
    display: grid;
    grid-template-rows:  75px 60px 1fr 20px;
}

.fight-grid{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header{
    padding: 20px 30px;
    background-color: rgb(90, 30, 130);
    font-size: 30px;
}

nav{
    background-color: rgb(40, 40, 40);
    border-radius: 2px;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 100px 1fr 135px;
}

.nav-button{
    font-size: 16px;
    background-color: rgb(100, 100, 100);
    color: rgb(200,200,200);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 2px 10px;
    cursor: pointer;
}

#login-button{
    display: flex;
    justify-content: flex-end; 
}

main{
    margin: 5px 120px;
    /* border: rgb(200,200,200) 1px solid; */
}

footer{
    font-size: 12px;
    opacity: 25;
    text-align:center;
    margin-top: 10px;
    margin-bottom:1px;
}

.fight-card{
    border: rgb(200,200,200) 1px solid;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    height: 200px;
    cursor: pointer;
}

.temp-img{
    border: rgb(200,200,200) 1px solid;
}
